<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia Edit Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .navbar img {
      height: 50px;
      width: 50px;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-top: 50px;
    }

    .well {
      width: 180px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 800px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navbar-brand" href="#"><img src="/wikipedia.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wiki">Home</a></li>
        <!-- <li class="actice"<a href=/ -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">
    <h1>Wiki</h1>
    <main>
    <header>
      <button><a href="/wiki/new">Add a new article</a></button>
      <% wiki.forEach(wiki => { %>
      <div class="content-container">
        <h1><%= wiki.title %></h1>
        <h3><%= wiki.category %></h3>
        <p><%- wiki.content %></p>
        <% `${wiki.sqlDate}` %>
        <p><%= `{wiki.sqlDate}`.slice(0,10) %></p>
        <button><a href="/wiki/<%= wiki.id %>/edit">Edit</a></button>
      </div>
     <% }) %>
    </header>
  </main>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <img src="https://media.giphy.com/media/3o7ZeFpK0qqSpsWNsA/giphy.gif" width="150" height="100">
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>Made With &#9749</p><br>
  <p>By: Thomas Standing</p>
</footer>
</body>
</html>
